<!DOCTYPE html>
<html>
<body>

<h1>Welcome to Customer Segmentation Tool </h1>
<h2>Enter Customer Details</h2>


<form action="/submit" method="post">
	<label for="AnnualIncome">Annual Income (15-200 k$):</label><br>
	<input type="text" id="annual_income" name="annual_income" value="0"><br>
	<label for="SpendingScore">Spending Score (0-100):</label><br>
	<input type="text" id="spending_score" name="spending_score" value="0"><br>
	
	<input type="submit" value="Submit"><br>
</form>

<p> If you click "Submit" button, the customer segment and targetted marketing will be provided </p>
</body>

</html>
